@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

#catalog {
    font-family: "Manrope", sans-serif;
}

.nonactive {
    color: rgba(0, 0, 0, 0.5);
}

.active {
    color: #000000;
    padding: 20px 45px !important;
    border: 3px solid black;
    border-radius: 95px !important;
}

.catalog-active-items {
    gap: 200px;
    padding: 5rem 0;
}

.item-image {
    margin-bottom: 70px;
}

/* 🌐 Mobile optimization */
@media screen and (max-width: 768px) {
    .catalog-active-items{
        gap:50px;
    }
    .active {
        padding: 4px 14px !important;
        font-size: 14px;
        border: 1px solid black;
    }


    .item-image {
        margin-bottom: 30px;
    }

    .catalog-item h3 {
        font-size: 1rem;
    }
}


@keyframes slideInLetter {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.text-letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideInLetter 0.5s forwards;
}
