@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

#catalog {
    font-family: "Manrope", sans-serif;
}

.nonactive {
    color: rgba(0, 0, 0, 0.5);
}

.active {
    color: #000000;
    padding: 20px 45px !important;
    border: 3px solid black;
    border-radius: 95px !important;
}

.catalog-active-items {
    gap: 200px;
    padding: 5rem 0;
}

.item-image {
    margin-bottom: 70px;
}

/* 🌐 Mobile optimization */
@media screen and (max-width: 768px) {
    .active {
        padding: 7px !important;
        font-size: 14px;
        border: 1px solid black;
    }

    .catalog-active-items {
        gap: 55px;
        padding: 2rem 0;
    }

    .item-image {
        margin-bottom: 30px;
    }

    .catalog-item h3 {
        font-size: 1rem;
    }
}
