#advantages{
    font-family: "Manrope", sans-serif;
}
.advantages-title{
    letter-spacing: 2px;
    font-size: 60px;
}


.advantage-item {
display: flex;
align-items: center;
gap: 12px;
}
@media screen and (max-width: 768px) {
    .advantages-title{
        
        font-size: 20px;
    }
}
  

@keyframes scroll-cards {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-wrapper {
  display: flex;
  animation: scroll-cards 70s linear infinite;
}
