@keyframes revealText {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .text-reveal {
    background-image: linear-gradient(to right, black 50%, transparent 50%);
    background-size: 200% 100%;
    background-clip: text;
    z-index: -10;
    -webkit-background-clip: text;
    color: transparent;
    animation: revealText 5s ease forwards;
  }
  

@font-face {
  font-family: 'MakCustomFont';
  src: url('../assets/mak-font/MAK.otf') format('woff') !;
  font-weight: normal;
  font-style: normal;
}
.mak-custom-product{
font-family: 'MakCustomFont', sans-serif;
}